.container {
  width: 100%;
  background-color: beige;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
