/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */

html {
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  --bg-clr: #ffffff;
  --header-ff: 'Amatic SC', cursive;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--bg-clr);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: inherit;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

/* Image,
picture {
  min-height: auto;
  max-width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
} */

h1 {
  font-family: var(--header-ff);
  font-size: 2rem;
}