.container {
  display: flex;
  flex-direction: row;
}

.logoWrapper {
  display: block;
  width: 10rem;
}

.linkContainer {
  display: flex;
  flex-direction: row;
}

.linkWrapper {
  margin: auto;
  padding: 5px 10px;
  font-family: var(--header-ff);
}

.selected {
  background-image: url('../assets/link_selected.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}