.container {
  display: flex;
  flex-direction: column;
  background-color: green;
}

.sponsorContainer {
  display: flex;
  flex-direction: row;
}

.sponsorWrapper {
  padding: 10px 10px;
}

.sponsorWrapper:hover {
  background-color: aliceblue;
}

.sponsorContent {
  display: flex;
  flex-direction: row;
}

.sponsorText h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.sponsorText {
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  display: block;
  width: 8rem;
  min-width: 8rem;
}